<include file="./Public/header"/>
<style>
    .content{
        width: 980px;
        border: 1px solid darkolivegreen;
        margin: 0 auto;
    }
    .content-search{
        height:50px;
    }
    .content-img{
        width: 300px;height:208px;border: 1px solid greenyellow;float: left;margin-right: 10px;margin-bottom: 10px;;
    }
</style>
<div class="content">
    <div class="content-search">
        <div style="float: left">
            <span>每日更新</span>:<a href="javascript:void(0)">2016猴币的升值空间到底有多大？</a>
        </div>
        <div style="float: right">
            <form enctype="multipart/form-data" action="Index/index">
                <input type="text" name="menu" placeholder="请输入你想要搜索的内容"/>
                <button type="submit">搜 索</button>
            </form>
        </div>
    </div>
    <div style="clear: both"></div>

    <div style="border:1px solid green;width: 980px;margin: 0 auto;height: 600px;">
        <div class="content-img">
            <div style="width: 300px;height: 180px"><img src="" style=" width:300px;height: 180px"/></div>
            <div><a href="javascript:void(0)">第一套人民币入口</a></div>
        </div>
        <div class="content-img"></div>
        <div class="content-img"></div>
        <div class="content-img"></div>
        <div class="content-img"></div>
        <div class="content-img"></div>
    </div>
</div>
<div style="clear: both"></div>
<include file="./Public/footer"/>